.following.page.header{
    font-size: 1.8rem;
    font-weight: bold;
    margin:0 0 0 25%;

}

.circle.outline.icon{
    font-size:3.8rem;
    margin-right: 0;
    margin-left: -15px;
    color:grey;
}
.first.circle.outline.icon{
    margin-left: 27%;
}
.pencil-btn {
    background-color: #e6e6e6;
    margin-left: -10px;
}
.pencil-btn:hover{
    background-color:#d9d9d9;
}

.find-people-btn{
    background-color:#b30000;
    color: white;
    margin-left: 10%;
}
.find-people-btn:hover{
    background-color: #990000;
}


