
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.plane.icon {
    color:#662200;
}
.bell.icon, .angle.down.icon, .comment.alternate.icon{
    color:grey;
}
.header{
    padding:20px;
    display:flex;
    flex-direction:row;
}

button{
    border:none;
    background-color:white; 
    cursor:pointer;
    padding:20px 20px ;
    font-size: 1.2em;
    text-align: center;
    border-radius: 40px;
    border: none;
} 


button:focus {outline:0;}

button:hover{
    background-color:#f0f1f2; 
}

.active.nav-bar-btn button{
    background-color: black;
    color: white;
}
.user{
    padding:20px 25px ;
}

.mobile-menu{
    display:none;
}

@media screen and (max-width:800px) {
    .mobile-menu {
        display: block;
    }
    .mobil-menu-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header{
        flex-direction: column;;
    }
    .nav-bar-btn button ,.nav-bar-modal-btn {
        display: none;
    }
    .nav-bar-btn.display button{
        display: block;
        border-radius: 0px;
        width: 100%;
    }
    
  }
  





