

.plane.icon {
    color:#662200;
}
.bell.icon, .angle.down.icon, .comment.alternate.icon{
    color:grey;
}
.header{
    padding:20px;
    display:flex;
    flex-direction:row;
}

button{
    border:none;
    background-color:white; 
    cursor:pointer;
    padding:20px 20px ;
    font-size: 1.2em;
    text-align: center;
    border-radius: 40px;
    border: none;
} 


button:focus {outline:0;}

button:hover{
    background-color:#f0f1f2; 
}

.active button{
    background-color: black;
    color: white;
}
.user{
    padding:20px 25px ;
}




