
.friend.searchbar{
    width:95%;
    height:5%;
    margin-left: 10px;
}
.message-modal-header{
    display:flex;
    flex-direction: row;
    margin-top:60px;
}
.header-context{
    font-weight: 700;
    font-size: 1.4rem;
    margin-left: 40%;
}
.message-modal-header button{
    padding: 5px 7px;
}

.list-icon-btn{
    margin-left: 70px;
}
.message-modal-bottom-text{
    margin: 15px 0 0 15px;
    font-size:1.3rem;
}