
.input{
   width:60%; 
}
.ui.input>input {
    border-radius: 40px ;
    background-color:#f0f1f2 ;
    border:none;
}
.ui.input>input:focus{
    background-color:#f0f1f2 ;
}
.search.icon{
    color:black;
}

input{
    font-size:1.5em;
}

