h2{
    text-align: center;
    margin-bottom: 0;
}
h1{
    text-align:center;
    margin-top:2px;
    font-size: 300%;
} 
 
.image-list-today { 
    display:grid;
    grid-template-columns: repeat(2,minmax(50px,1fr));
    grid-gap: 1px 15px;
    grid-auto-rows: 10px; 
    margin: 0 20%;
}

.image-list-today img {
    width: 100%;
    border-radius: 20px;   
} 

.end-statment-1{
    text-align: center;
    font-size:150%;
}
.end-statment-2{
    text-align: center;
    font-size:200%;
    font-weight: bold;
    margin: 10px 40%;
    line-height: 1.2;
}

.home-button{
    margin-top: 40px;
    text-align: center;
}
.home-button button{
    background-color:#f2f2f2;
}

.people-images{
    margin-top: 3%;
}

@media screen and (max-width:800px) {
    .image-list-today { 
        margin: 0 5%;
    }
}
@media screen and (max-width:700px) {
    .image-list-today { 
        margin: 0 0;
    }
}